%h1 Menu for FoodComrade restaurant

%ul#categorieslist
  - @categories.each do |category|
    %h2= category.title
    %div
      - if current_user.try(:admin?)
        = link_to 'New', new_product_path(product)
    - category.products.each do |product|
      %li
        = product.name
        = product.description
        = product.price
      - if current_user.try(:admin?)
        = link_to 'Edit', edit_product_path(product)
        = link_to 'Delete', product_path(product), method: :delete, data: { confirm: 'Are you sure?' }

        
